<% if current_user && (current_user.admin? || current_user.creator? || current_user.editor?) %>
<div class="modal fade editWorkModal formModal" id="editWorkModal" tabindex="-1" role="dialog" aria-labelledby="editWorkModal" title="Edit a Work">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form data-lna-query="editWork" data-tag-delimiter=";;;" accept-charset="UTF-8" class="formTwoColumn" data-opt="<%= params[:id] %>" data-refresh="true" data-load="editWork">
          <div><label>Title</label><input name="dc:title" required></input></div>
          <div><label>Attributed To</label><input name="foaf:name" class="autocompleteBehavior" autocomplete="off" data-autocomplete-type="person" required></input></div> 
          <%= hidden_field_tag "dc:creator", nil, {:id=>nil} %>        
          <div><label>Author(s)</label><input name="bibo:authorList" class="tagBehavior" required></input></div> 
          <div><label>Abstract</label><textarea name="dc:abstract" required></textarea></div>
          <div><label>Pub. Date</label><input name="dc:date" class="dateBehavior"></input></div>    
          <div><label>DOI</label><input name="bibo:doi"></input></div> 
          <div><label>URI(s)</label><input name="bibo:uri" class="tagBehavior"></input></div> 
          <div><label>Vol</label><input name="bibo:volume"></input></div> 
          <div><label>Pages</label><input name="bibo:pages"></input></div> 
          <div><label>Start Page</label><input name="bibo:pageStart"></input></div> 
          <div><label>End Page</label><input name="bibo:pageEnd"></input></div> 
          <div><label>Publisher</label><input name="dc:publisher"></input></div> 
          <div><label>Subject(s)</label><input name="dc:subject" class="tagBehavior"></input></div> 
          <div><label>Journal Title</label><input name="dc:bibliographicCitation"></input></div> 
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <button type="submit" title="submit">Update</button>
        </form>
        <% if current_user.admin? %>
        <form data-lna-query="deleteWork" accept-charset="UTF-8" class="formTwoColumn" data-confirm="true" data-opt="<%= params[:id] %>" data-handler="goHome">
        <div class="centered">OR</div>
        <%= hidden_field_tag :authenticity_token, form_authenticity_token, {:id => nil} %>
        <button type="submit" title="Delete" class="warning" name="delete">Delete Work</button>
        </form>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>