<div class="modal fade editPersonModal formModal" id="editPersonModal" tabindex="-1" role="dialog" aria-labelledby="editPersonModal" title="Edit a Person">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form data-lna-query="editPerson" class="formTwoColumn"  data-load="editPerson" data-refresh="true" data-tag-delimiter=";;;" data-opt="<%= @short_id %>">
          <div><label>Given Name</label><input name="foaf:givenName"></input></div>
          <div><label>Family Name</label><input name="foaf:familyName"></input></div>
          <div><label>Written Name</label><input name="foaf:name"></input></div>
          <div><label>Title</label><input name="foaf:title"></input></div>
          <div><label>Reports To</label><input name="skos:prefLabel" class="autocompleteBehavior" autocomplete="off" data-autocomplete-type="reportsTo"></input></div>
          <div><label>Email</label><input name="foaf:mbox"></input></div>
          <div><label>Photo URL</label><input name="foaf:image"></input></div>
          <div><label>Homepage URL</label><input name="foaf:homepage" class="tagBehavior"></input></div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
          <%= hidden_field_tag "org:reportsTo", nil, {:id => nil} %>
          <button type="submit" title="submit">Submit</button>
          <div class="centered">OR</div>
        </form>
        <form data-lna-query="deleteAffiliation" class="formTwoColumn" data-opt="<%= @short_id %>" data-handler="goHome">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token, {:id => nil} %>
        <button type="submit" title="Delete" class="warning" name="delete">Delete Person</button>
        </form>
      </div>
    </div>
  </div>
</div>
