<div class="modal fade editAccountModal formModal" id="editAccountModal" tabindex="-1" role="dialog" aria-labelledby="editAccountModal" title="Edit an Account for this Person">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <form data-lna-query="editAccount" class="formTwoColumn" accept-charset="UTF-8" data-opt="<%= FedoraID.shorten(params[:id]) %>/account/;;;" data-refresh="true" data-load="editAccount">
          <div><label>Title</label><input name="dc:title" readonly="readonly"></input></div>          
          <div><label>ID</label><input name="accountID" class="changeBehavior" data-onchange="mergeAccountName" required></input></div>
          <div><label>Service Link</label><input name="foaf:accountServiceHomepage" readonly="readonly"></input></div>
          <%= hidden_field_tag :authenticity_token, form_authenticity_token, {:id => nil} %>
          <%= hidden_field_tag "foaf:accountName", {:id => nil} %>
          <%= hidden_field_tag "accountRoot", {:id => nil} %>
          <%= hidden_field_tag "template", {:id => nil} %>
          <%= hidden_field_tag "dc:creator", root_url + "person/" + FedoraID.shorten(params[:id]), {:id => nil} %>
          <button type="submit" title="Update">Update</button>
          <div class="centered">OR</div>
        </form>
        <form data-lna-query="deleteAccount" accept-charset="UTF-8" class="formTwoColumn" data-confirm="true" data-opt="<%= FedoraID.shorten(params[:id]) %>/account/;;;" data-refresh="true" data-load="deleteAccount">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token, {:id => nil} %>
        <button type="submit" title="Delete" class="warning" name="delete">Delete Account</button>
        </form>
      </div>
    </div>
  </div>
</div>
