		<nav class="centered breadcrumbs" role="navigation">
            <%= link_to(root_path, class: "crumbContinue") do %><span>Home</span><% end %><%= link_to(persons_path, class: "crumbContinue") do %><span>Person</span><% end %><a href="#" class="crumbHere crumbStop"><span>Loading...</span></a>
        </nav>
        <main class="centered content">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <section class="sidebar">
                <%= image_tag "unknownPerson.svg" %>
                <div>
                    <h1></h1>
                    <div><span class="spinner"></span></div>
                    <ul class="iconList">
                        <li class="add"><button href="#">Add ID</button></li>
                    </ul>
                </div>
            </section>

            <section class="details">
                <div class="affiliations">
                    <h1>Affiliations</h1>
                    <ul class="iconList">
                        <li><span class='spinner'></span></li>
                    </ul>
                    <button title="add affiliation" id="newAffiliation" data-toggle="modal" data-target="#newAffiliationModal"><span class="add"></span>Add New Affiliation</button>
                </div>
                <div class="works">
                <h1>Works</h1>                    
                    <ul class="iconList">
                        <li><span class='spinner'></span></li>
                    </ul>
                    <button title="add work" id="newWork" data-toggle="modal" data-target="#newWorkModal"><span class="add"></span>Add New Work</button>
                </div>
            </section>
        </main>
        <section id="templates">
        <%= render "shared/templates/cards_affiliation" %>
        <%= render "shared/templates/cards_work" %>
        <%= render "shared/templates/cards_account" %>
        </section>
        <section id="modals">
        <%= render "shared/modals/new_work" %>
        <%= render "shared/modals/new_affiliation" %>
        </section>        
		<script>
        $(document).ready(function(){
            $().LNAGateway().loadPerson(LNA.loadPerson, "<%= @short_id %>");
            $().LNAGateway().loadPersonWorks(LNA.loadPersonWorks, "<%= @short_id %>");
        });
        </script>