<!DOCTYPE html>
<html>
  <head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
	<% if @output.empty? %>
	  No errors or warnings were produced by the load <%= 'from ' + @title if @title =%> to LNA.
	<% else %>
	  The following errors/warnings were produced by the load from <%= 'from ' + @title if @title =%>to LNA:
	  <br/><br/>
	
	  <% @output.each do |type, notifications| %>
	    <% a = notifications.collect { |_, v| v.count } %>
	    <strong><%= a.sum =%> <%= type.pluralize(a.sum) =%></strong>
	    <ul>
		  <% notifications.each do |key, values| %>
		    <li><%= key =%></li>
	          <ul>
				<% values.each do |v| %>
	              <li><%= v =%></li>
				<% end %>
		      </ul>
	       <% end %>
	    </ul>
	  <% end %>
	<% end %>
  </body>
</html>
