		<nav class="centered breadcrumbs" role="navigation">
            <%= link_to(admin_root_path, class: "crumbContinue") do %><span>Home</span><% end %><%= link_to(admin_organizations_path, class: "crumbContinue") do %><span>Organization</span><% end %><a href="#" class="crumbHere crumbStop"><span>Loading...</span></a>
        </nav>
        <main class="centered content">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <section class="record">
                <div class="orgData">
                    <h1>Organization <% if current_user.admin? || current_user.creator? || current_user.editor? %><button class="fa fa-pencil fa-lg edit" title="edit organization" data-toggle="modal" data-target="#editOrganizationModal"><span class="helpText">edit this organization</span></button><% end %></h1>
                    <h3></h3>
                    <p>
                        <span class="title">Also Known As</span><br>
                        <span class="orgAltLabels"></span>
                    </p>
                    <p>
                        <span class="title">Purpose</span><br>
                        <span class="orgPurpose"></span>
                    </p>
                    <p>
                        <span class="title">Active</span><br>
                        <span class="orgDateRange"></span>
                    </p>
                    <p class="parent">
                        <span class="title">Suborganization Of</span><br>
                        <button class="fa fa-external-link-square fa-lg view" title="view parent"><span class="helpText">view parent organization</span></button>
                        <span class="orgParent"></span>
                    </p>        
                </div>
                <div class="related children">
                    <h1>Suborganizations</h1>                    
                    <ul class="iconList">
                        <li><span class='spinner'></span></li>
                    </ul>
                </div>                
                <div class="related members">
                    <h1>Related Primary Appointments</h1>                    
                    <ul class="iconList">
                        <li><span class='spinner'></span></li>
                    </ul>
                </div>
            </section>
        </main>
        <section id="templates">
            <%= render "shared/templates/lists_person" %>
            <%= render "shared/templates/lists_account" %>
            <%= render "shared/templates/lists_suborganization" %>
        </section>
        <section id="modals">
        <% if current_user.admin? || current_user.editor? || current_user.creator? %>
            <%= render "shared/modals/edit_organization" %>
        <% end %>

        </section>        
		<script>
        $(document).ready(function(){
            $().LNAGateway().loadOrg(LNA.loadOrg, "<%= params[:id] %>");
            $().LNAGateway().findOrgPersons(LNA.loadOrgPersons, _base_url + 'organization/' + "<%= params[:id] %>");
        });
        </script>
