<nav class="centered breadcrumbs" role="navigation">
  <%= link_to(root_path, class: "crumbContinue") do %><span>Home</span><% end %><%= link_to(role_management.roles_path, class: "crumbContinue") do %><span>Roles</span><% end %><%= link_to(role_management.role_path(@role), class: "crumbStop crumbHere") do %><span><%= @role.name %></span><% end %>
</nav>

<main class="centered content">
  <section class="record">
    <div class="plainForm">
      <h1>Add New "<%= @role.name %>" Account</h1>
      <form class="formTwoColumn" action="<%= role_management.role_users_path(@role) %>" method="post" accept-charset="UTF-8">
        <input name="utf8" type="hidden" value="✓">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div><label>User NetID</label><input name="user_key"></input>@dartmouth.edu</div>
        <button type="submit" title="submit">Add User</button>
      </form>
    </div>
    <div class="related">
      <h1>Current "<%= @role.name %>" Accounts</h1>
      <ul class="iconList">
        <% @role.users.each do |user| %>
        <li>
          <p><%= user.name %> (<%= user.netid %>)</p>
          <% if can? :remove_user, Role %>
          <%= button_to role_management.role_user_path(@role, user), :method=>:delete do %><i class='fa fa-minus-circle fa-2x'></i><% end %>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </section>
</main>
