        <nav class="centered breadcrumbs" role="navigation">
			<%= link_to(root_path, class: "crumbStop crumbHere") do %><span>Home</span><% end %>
        </nav>
        <main class="centered content">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <div class="cards">
                <div class="sectionCard">
                    <h1>ORGANIZATIONS</h1>
                    <div>
                        <div class="roundButton">
                            <div class="roundButtonCircle">
                                <%= link_to(organizations_path, class: "roundButton") do%><i class="fa fa-2x fa-list" aria-hidden="true"></i><br />Browse<% end %>
                            </div>
                        </div>
                        <div class="roundButton" data-toggle="modal" data-target="#findOrgsModal">
                            <div class="roundButtonCircle">
                                <roundButton class="roundButton"><i class="fa fa-2x fa-search" aria-hidden="true"></i><br />Find</roundButton>
                            </div>
                        </div>
                        <div class="roundButton" data-toggle="modal" data-target="#newOrgModal">
                            <div class="roundButtonCircle">
                                <roundButton class="roundButton"><i class="fa fa-2x fa-plus" aria-hidden="true"></i><br />Add</roundButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sectionCard">
                    <h1>PEOPLE</h1>
                    <div>
                        <div class="roundButton">
                            <div class="roundButtonCircle">
                                <%= link_to(persons_path, class: "roundButton") do%><i class="fa fa-2x fa-list" aria-hidden="true"></i><br />Browse<% end %>
                            </div>
                        </div>
                        <div class="roundButton" data-toggle="modal" data-target="#findPersonsModal">
                            <div class="roundButtonCircle">
                                <roundButton class="roundButton"><i class="fa fa-2x fa-search" aria-hidden="true"></i><br />Find</roundButton>
                            </div>
                        </div>
                        <div class="roundButton" data-toggle="modal" data-target="#newPersonModal">
                            <div class="roundButtonCircle">
                                <roundButton class="roundButton"><i class="fa fa-2x fa-plus" aria-hidden="true"></i><br />Add</roundButton>
                            </div>
                        </div>
                    </div>                    
                </div>
                <div class="sectionCard">
                    <h1>WORKS</h1>
                    <div>
                        <div class="roundButton">
                            <div class="roundButtonCircle">
                                <%= link_to(works_path, class: "roundButton") do%><i class="fa fa-2x fa-list" aria-hidden="true"></i><br />Browse<% end %>
                            </div>
                        </div>
                        <div class="roundButton" data-toggle="modal" data-target="#findWorksModal">
                            <div class="roundButtonCircle">
                                <roundButton class="roundButton"><i class="fa fa-2x fa-search" aria-hidden="true"></i><br />Find</roundButton>
                            </div>
                        </div>
                        <div class="roundButton" data-toggle="modal" data-target="#newWorkModal">
                            <div class="roundButtonCircle">
                                <roundButton class="roundButton"><i class="fa fa-2x fa-plus" aria-hidden="true"></i><br />Add</roundButton>
                            </div>
                        </div>
                    </div>                    
                </div>

            </div>
            <div class="baton">
            	<h1>Todo's for John Bell</h1>
            	<table>
            		<tr>
            			<th colspan="5">Workflow: Curate Article Metadata</th>
            		<tr>
            			<td><i class="fa fa-square-o" aria-hidden="true"></i></td>
            			<td>Online Access for Scholars Adds Value to Media Archives<br />John Bell, ITS</td>
            			<td><div class="progress"></div></td>
            			<td><i class="fa fa-clock-o" aria-hidden="true" style="background-color: red"></i></td>
            			<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            		</tr>
            		<tr>
            			<td><i class="fa fa-square-o" aria-hidden="true"></i></td>
            			<td>Diffused Museums–Networked, Augmented, and Self-Organized Collections<br />John Bell, ITS</td>
            			<td><div class="progress"></div></td>
            			<td><i class="fa fa-clock-o" aria-hidden="true" style="background-color: yellow"></i></td>
            			<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            		</tr>
            		<tr>
            			<td><i class="fa fa-square-o" aria-hidden="true"></i></td>
            			<td>A Collaborative Model for PhDs<br />John Bell, ITS</td>
            			<td><div class="progress"></div></td>
            			<td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            			<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            		</tr>
            	</table>
            	<table>
            		<tr>
            			<th colspan="5">Workflow: Verify Person Record Updates</th>
            		<tr>
            			<td><i class="fa fa-square-o" aria-hidden="true"></i></td>
            			<td>John Bell</td>
            			<td><div class="progress"></div></td>
            			<td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            			<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            		</tr>
            		<tr>
            			<td><i class="fa fa-square-o" aria-hidden="true"></i></td>
            			<td>Jennifer Green</td>
            			<td><div class="progress"</div></td>
            			<td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            			<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            		</tr>
            		<tr>
            			<td><i class="fa fa-square-o" aria-hidden="true"></i></td>
            			<td>Carole Meyers</td>
            			<td><div class="progress"></div></td>
            			<td><i class="fa fa-clock-o" aria-hidden="true"></i></td>
            			<td><i class="fa fa-pencil" aria-hidden="true"></i></td>
            		</tr>
            	</table>            	
            </div>
        </main>
        <script>
        	$(function(){
        		$.each($('.progress'), function(i, v){
        			$(v).progressbar({'value': Math.floor((Math.random() * 10))*10});
        		})
        	});
        </script>
        <section id="modals">
    		<%= render "shared/modals/new_person" %>
            <%= render "shared/modals/new_organization" %>
            <%= render "shared/modals/new_work" %>
            <%= render "shared/modals/find_persons" %>
            <%= render "shared/modals/find_organizations" %>
            <%= render "shared/modals/find_works" %>
        </section>