<%# Master template for LNA
  # Takes the place of application.html.erb, since Blacklight is using that.
  # Gets called from specific controllers when rendering HTML %>

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title><%= content_for?(:title) ? yield(:title) : "Linked Name Authority" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- <link rel="stylesheet" href="css/normalize.min.css"> -->
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
        <%= csrf_meta_tags %>
        <%= stylesheet_link_tag "lna" %>
        <%= javascript_include_tag "lna"  %>
    </head>
    <body class="<%= controller_name %> <%= action_name %>">
        <header class="masthead">
            <h1 class="branding"><span>LINKED</span><span>NAME</span><span>AUTHORITY</span></h1>
            <form class="simpleSearch"><div><input name="simpleSearch" type="text"/><button name="submit" type="submit" value="submit">Search</button> <button class="fa fa-search fa-lg" id="controlPanelToggle" data-toggle="modal" data-target="#searchModal"></button> <button class="fa fa-bars fa-lg controlPanelToggle" data-toggle="controlPanel"></button></div>
            </form>
        </header>
        <%= render "shared/controls" %>
		<%= yield %>
        <footer>
        Linked Name Authority - Dartmouth College
        </footer>

        <%= javascript_include_tag "plugins.js" %>
        <%= javascript_include_tag "main.js" %>
    </body>
</html>
